@tailwind components;

@layer components {
  .date-separator:before,
  .date-separator:after {
    @apply flex-1 border-b-gray-400 border-solid border-2;
    content: '';
  }
  .date-separator:before {
    margin-right: 0.5em;
  }
  .date-separator:after {
    margin-left: 0.5em;
  }
  .input-field {
    @apply border-none outline-none bg-transparent w-full text-lg p-2 text-white;
  }
  .input-field::placeholder {
    @apply text-gray-50;
  }
  .failed {
    animation: shake-animation 0.5s ease;
  }

  @keyframes server-hover-in {
    from {
      border-radius: 9999px;
    }
    50% {
      border-radius: 50px;
    }
    to {
      border-radius: 20px;
    }
  }
  
  @keyframes server-hover-out {
    from {
      border-radius: 20px;
    }
    50% {
      border-radius: 50px;
    }
    to {
      border-radius: 9999px;
    }
  }
  
  .animated-border-radius {
    border-radius: 9999px; /* Start fully rounded */
    animation: server-hover-out 0.5s ease-in-out forwards;
  }
  
  .animated-border-radius.hovered {
    animation: server-hover-out 0.5s ease-in-out forwards;
  }
  
  .animated-border-radius:hover {
    animation: server-hover-in 0.6s ease-in-out forwards;
  }
  
  @keyframes shake-animation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
