@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@layer base {
  html,
  body {
    font-family: 'orkney';
  }

  main {
    @apply mx-auto max-w-[1960px];
  }

  h1 {
    @apply text-3xl font-bold;
  }
  /* button {
    @apply bg-blue-500
  } */
}

@layer components {
  Link,
  a {
    @apply cursor-pointer;
  }

  .home-container {
    @apply flex flex-col items-center justify-center min-h-screen bg-gray-100 text-center p-4;
  }
  .home-title {
    @apply text-4xl font-bold mb-6;
  }
  .home-banner {
    @apply bg-blue-500 text-white rounded-lg p-6 mb-6 shadow-lg;
  }
  .home-blurb {
    @apply text-xl;
  }
  .home-auth-container {
    @apply flex flex-col items-center;
  }
  .home-welcome {
    @apply text-xl mb-4;
  }
  .home-logged-in {
    @apply flex flex-row items-center space-x-4;
  }
  .home-link {
    @apply text-white py-2 px-4 rounded-full mb-4 hover:bg-opacity-75;
  }
  .home-dashboard-button {
    @apply bg-green-500 flex items-center;
  }
  .home-dashboard-button:hover {
    @apply bg-green-700;
  }
  .home-icon {
    @apply mr-2;
  }
  .home-login-button {
    @apply bg-blue-500 hover:bg-blue-700;
  }
  .home-link.home-logout-button {
    @apply bg-red-500 hover:bg-red-700;
  }

  /* Unauthorized */
  .unauth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .unauth-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .unauth-text {
    margin-bottom: 1rem;
  }
  
  .unauth-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .unauth-btn:hover {
    background-color: #005bb5;
  }
  
  .unauth-link {
    color: #0070f3;
    text-decoration: none;
    margin: 10px;
  }
  
  .unauth-link:hover {
    text-decoration: underline;
  }
}
